#latest-projects {
    width: 100%;
    height: auto;
}

.div-img-unicorn {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-img-unicorn:hover img {
    transform: scale(1.05);
    opacity: 0.5;
}

.img-unicorn {
    width: 75%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
}

#carousel-unicorn {
    width: 100%;
}

.divider {
    height: 2px;
    border-radius: 20px;
    background: #8d8d8d;
    width: 100%;
}

.btn-visit-page {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-img-unicorn:hover .btn-visit-page {
    display: block;
}

.visit-page {
    color: #ffffff;
    cursor: pointer;
}

.visit-page:hover {
    color: rgb(214, 214, 214);
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .img-unicorn {
        width: 100%;
    }
}